body{
	border: solid 2px #c4bfbf;
	height: 400px;
	width: 250px;
	border-radius: 10px;
}
a{
	
	text-decoration: none;
}
img#Star_yellow{
	height: 19px;
	padding-top: 14px;
	padding-left: 10px;
	float: left;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

div.Style1{
	/*background: gray;*/
	display: inline-table;
	margin-top: 18px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: black;

}
div.Ocena{
		display: inline-table;
	margin-top: 18px;
	margin-left: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: black;

}

h3.Car_type{
	display:inline-table;
	margin-top: 20px;
	margin-left: 15px;
	padding-bottom: 5px;
	padding-right: 52px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	border-bottom: solid 3px;
	color: black;
}
div.Price_yellow{
	display: inline-table;
	margin-top: 18px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1em;
	color: #eead51;
	float: left;

}
div.Valut{
	
	padding-top: 21px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	float: left;
	color: #b4b4b4;

}
div.Price{
	padding-top: 43px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	font-size: 16px;
	color: #b4b4b4;
}
div.Reserv{
	display:inline-table;
	margin-top: -42px;
	padding-right: 15px;
	padding-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	float: right;
	color: black;
}
img.Back{
	height: 30px;
	float: right;
	padding-right: 15px;
	margin-top:-15px;
}
img.Car1{
	width: 250px;
}