body{
	padding: 60px;
}
#button {
	border: solid 2px rgb(200, 28, 28);
	background-color: rgb(200, 28,  28);
	color: black;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;/*usunięcie podkreślenia dla linku*/
	font-size: 20px;
}
#button:hover {
	border: solid 2px rgb(300, 40, 28);
	background-color: rgb(300, 40,  28);
	color: black;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;/*usunięcie podkreślenia dla linku*/
	font-size: 20px;
}
div {
	margin-top: 30px;

}
ul.nav_button {
	list-style: none;
	text-decoration: none;
	margin-left: 0px;
	padding-left: 0px;

}



ul.nav_button {
	display: block;
    text-decoration: none;
    line-height: 30px;
    border: solid 2px rgb(300, 40, 28);
	background-color: rgb(300, 40,  28);
	color: black;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;/*usunięcie podkreślenia dla linku*/
	font-size: 20px;
	margin: 3px;}



	
ul.nav_button:hover{
	display: block;
    text-decoration: none;
    line-height: 30px;
    border: solid 2px rgb(300, 40, 28);
	background-color: rgb(300, 40,  28);
	color: black;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;/*usunięcie podkreślenia dla linku*/
	font-size: 20px;
	margin: 3px;  
}
ul.nav_button{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	border: solid 1px rgb(200, 28, 28) ;
}
ul.nav_button{
	display: inline;
}
ul.nav_button a{
	display: inline-block;
	border: 2px;
}*/