.central-sait-inf {
   text-align: center;

   &__main-center-information {
      font-size: 48px;
      text-align: center;
      margin-bottom: 20px;

   }

   &__scondary-center-information {
      font-size: 24px;
      text-align: center;
      margin-bottom: 140px;

   }
}

/* Слайдер */
.slick-slider {
   position: relative;
      position: relative;
         text-align: center;
         display: flex;
         margin: auto;

}

/* Ограничивающая оболочка */
.slick-list {
   overflow: hidden;
   justify-content: center;
}

/* Лента слайдов */
.slick-track {
   display: flex;
   align-items: flex-start;
}

.slider {
   /* Стрелка */
   .slick-arrow {
      justify-content: center;
      position: absolute;
      z-index: 20;
      height: 40px;
      font-size: 0;
      width: 30px;
      top: 50%;
      transform: translateY(-50%);
      justify-content: center;

   }

   /* Стрелка влево */
   .slick-prev {
      left: 0;
      background: url(../../../Images/arrow_L.svg) 0 0 no-repeat;
   }

   /* Стрелка вправо */
   .slick-next {
      right: 0;
      background: url(../../../Images/arrow_R.svg) 0 0 no-repeat;
   }
}

.slider-item{
   position: relative;
   color: white;
   padding: auto;
   &__text-regular-ui {
      position: absolute;
      font-size: 22px;
      z-index: 20;
      overflow:hidden ;
      padding-bottom: 77px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
   }
      &__text-regular-light {
         position: absolute;
         font-size: 17px;
         z-index: 20;
         overflow: hidden;
         padding-bottom: 40px;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);}}